.minilogo{
    width:3em;
}
@keyframes large {
    0% { 
        width: 2em;
        height: 3em;
     }
     100%{
        width: 5em;
        height: 3em;
     }
}
.minilogo:hover{
    animation: large 2s ;
}